*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(IMG_3968.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
}
.navbar{
     width: 1500px;
     height: 80px;
     margin: auto;

}
.icon
{
    width: 200px;
    float: left;
    height: 120px;

}
.logo
{
    color: #ff0000f8;
    font-size: 50px;
    font-family: Arial;
    padding-left:8px;
    float: left;
    padding-top: 14px;
}

.menu
{
 width: 310px;
 float: left;
 height: 4000px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
}
ul li{
    list-style: none;
    margin-left: 170px;
    margin-top: 30px;
    font-size: 24px;
}
ul li a{
 text-decoration: none;
color: white;
font-family: Arial;
font-weight: bolder;
transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: blue;
}


.btn:focus{
    outline: none;

}
.srch:focus{
    outline: none;

}
